.search-bar {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    height: 45px;
    background: #ffffff;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 600px;
}

.search-bar:hover, .search-bar:focus {
    background: rgba(0, 0, 0, 0.1);
}

.search-company {
    margin-right: 15px;
}

.search-company img {
    width: 35px;
    height: 35px;
}

.search-input {
    flex-wrap: wrap;
    border: none;
    margin: 0;
    padding: 0;
    color: #202124;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    background: transparent;
}

.search-icon {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin-left: 15px;
    cursor: pointer;
}

.search-icon svg {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 30px;
    min-height: 30px;
}